.home-block.home-block-ho {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar-logo {
    display: none;
}

nav {
    display: none;
}

.landing-page-doodle-container {
    display: none;
}

.home-block-pre {
    margin-top: 50px;
}

.home-block-pre img {
    height: 50px;
    margin-bottom: 1em;
    margin-top: 1em;
    align-self: center;
}

.home-block-cla .card{
    padding: 0px;
    padding-bottom: 2rem;
}

.home-block-cla-row.row2 .cla-block img{
    margin: 0px;
    border-radius: 16px 16px 0px 0px;
}
.home-block-cla-row.row2 .cla-block *:nth-child(2) {
    margin-top: 2rem;
}

.home-block-cla-row.row2 .cla-block * {
    margin-left: 2rem;
    margin-right: 2rem;
}

.home-block-cla-row.row2 .cla-block a {
    text-decoration: none;
}

.home-block-cla-row.row2 .cla-block *:last-child {
    margin-bottom: 1rem;
}

.home-block-cla .row2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home-block {
    padding-left: 10%;
    padding-right: 10%;
}

.pre-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
}

.home-block-pre-row.row2 {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home-block.home-block-cla,
.home-block.home-block-fe {
    margin-bottom: 50px;
}

.home-block.home-block-fe .home-block-fe-row {
    margin-bottom: 20px;
}

.home-block.home-block-sup .home-block-sup-row,
.sup-block {
    margin-bottom: 20px;
}

.home-block.home-block-sup {
    margin-bottom: 100px;
}

.home-block.home-block-va {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.comity-presentation {
    margin-bottom: 50px;
}

.home-block-va-row {
    display: flex;
    align-items: center;
}


/*1st row*/
.home-block-va {
    margin-bottom: 32px;
}

.home-block-va-row.row1 {
    width: auto;
}

.home-block-va .values-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.home-block-va-row img {
    margin-right: 20px;
    height: 75px;
    width: 75px;
}

.home-block-va-row.row2 img {
    height: 73px;
    width: 73px;
}

.home-block-va-row.row3 img {
    height: 75px;
    width: 75px;
}

.home-block-va-row.row4 img {
    width: 75px;
    height: 70px;
}

.home-block-va-row.row6 img {
    height: 75px;
    width: 75px;
}

.value-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.value-content p {
    margin: 0px;
}

.home-block-co img {
    width: 80vw;
    border-radius: 16px;
    margin-bottom: 1em;
}

.left-arrow,
.right-arrow {
    display: none;
}

.home-block-cla-row.row1 img {
    display: none;
}

.home-block-cla-row.row2 img {
    width: 100%;
}