/*1st block*/


/*1st row*/

.home-block-ho {
    padding-top: 100px;
}

.home-block-ho-row1 {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing-page-doodle-container {
    overflow: hidden;
}

.landing-page-doodle {
    margin-right: -200px;
    margin-top: 550px;
    width: 1200px;
}

.title {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10vw;
    width: 30vw;
}


/*2nd row*/

.home-block-ho-row2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downward-arrow {
    align-self: flex-end;
}

.downward-arrow img {
    width: 80px;
}


/* Classes */
.home-block-cla {
    display: flex;
    flex-direction: column;
}

.home-block-cla-row.row2 {
    display: flex;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 2em;
}

.home-block-cla-row.row2 .cla-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 1em;
    padding-top: none;
    height: min-content;
    padding: 0px;
}

.home-block-cla-row.row2 .cla-block *:nth-child(2) {
    margin-top: 2rem;
}

.home-block-cla-row.row2 .cla-block * {
    margin-left: 2rem;
    margin-right: 2rem;
}

.home-block-cla-row.row2 .cla-block *:last-child {
    margin-bottom: 1rem;
}

.home-block-cla-row.row2 .cla-block img {
    width: 100%;
    align-self: center;
    border-radius: 16px 16px 0px 0px;
    padding: 0px;
}

.home-block-cla-row.row2 .cla-block hr {
    border-top: 1px solid #BFBFBF;
    width: calc(100% - 4rem);
    margin-top: 1em;
    margin-top: 1em;
}

.home-block-cla-row.row2 .cla-block a {
    align-self: center;
    height: 100%;
    text-align: center;
    text-decoration: none;
}


/* Association */
.home-block.home-block-pre {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.home-block-pre-row {
    display: flex;
    margin-right: 10vw;
    margin-left: 10vw;
}


/*1st row*/

.home-block-pre-row.row1 {
    margin-top: 50px;
    width: auto;
}

.home-block-pre-row.row1 div {
    background-color: rgba(239, 239, 239, 0.8);
    height: fit-content;
}

.home-block-pre-row.row1 p {
    width: 800px;
}

.home-block-pre-row.row2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.pre-block h3 {
    text-align: left;
}

.home-block-pre-row.row2 .pre-block img {
    margin: 1em;
    display: flex;
    align-self: center;
    height: 75px;
    translate: 0px -10px 0px;
}

.pre-block {
    width: auto;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}


/* Values */


.home-block.home-block-va {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-image: url("../../res/img/flow_background-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-block-va-row {
    display: flex;
    margin-right: 10vw;
    margin-left: 10vw;
    width: min-content;
}

.home-block.home-block-va .values-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


/*1st row*/

.home-block-va-row.row1 {
    margin-top: 50px;
    width: auto;
}

.home-block-va-row img {
    margin-right: 20px;
    height: 150px;
    width: 150px;
}

.home-block-va-row.row3 {
    margin-left: auto;
}

.home-block-va-row.row5 {
    margin-left: auto;
}

.home-block-va-row.row2 img {
    height: 125px;
    width: 125px;
}

.home-block-va-row.row3 img {
    height: 150px;
    width: 150px;
}

.home-block-va-row.row4 img {
    width: 150px;
    height: 125px;
}

.home-block-va-row.row6 img {
    height: 150px;
    width: 150px;
}

.value-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.value-content p {
    margin: 0px;
}


/*comity content*/

.home-block.home-block-co {
    color: #EFEFEF;
    background-color: #731717;
    background-color: #731717;
    padding-bottom: 5%;
    background-image: url("../../res/img/coaches_background.webp");
    background-position: center;
    background-repeat: round;
    background-size:contain;
    margin-top: 4em;
    padding-top: 4em;
    padding-bottom: 10em;

}

.triangle-code {
    background-color: #EFEFEF;
    display: inline-block;
    height: 0;
    width: 0;
    border-left: 100vw solid transparent;
    border-bottom: 20vh solid #731717;
}

.home-block-co-row.row1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 10vw;
}

.home-block-co-row.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 350px 30px 200px 30px;
}

.comity-presentation {
    display: flex;
    align-items: center;
    left: 20%;
    position: absolute;
    transition: left 1s;
    width: 60%;
}

.comity-presentation.card {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    
}

.comity-presentation.left {
    left: -100%;
}

.comity-presentation.right {
    left: 100%;
}

.comity-presentation-text {
    display: flex;
    flex-direction: column;
}

.comity-description {
    text-align: justify;
}

.comity-presentation img {
    padding: 20px;
    height: 25vw;
    border-radius: 64px;
}

.right-arrow {
    cursor: pointer;
    width: 40px;
}

.left-arrow {
    cursor: pointer;
    visibility: hidden;
    width: 40px;
}

.home-block.home-block-sup {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 200px;
}

.home-block-sup-row {
    display: flex;
    margin-right: 10vw;
    margin-left: 10vw;
}


/*1st row*/
.home-block-sup-row.row1 {
    margin-top: 50px;
    width: auto;
}

.home-block-sup-row.row1 p {
    width: 800px;
}

.home-block-sup-row.row2 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
}

.home-block-sup-row.row2 .sup-block img {
    margin: 50px;
    display: flex;
    align-self: center;
}

.home-block-sup-row.row2 .sup-block1 img {
    width: 250px;
}

.home-block-sup-row.row2 .sup-block2 img {
    width: 175px;
}

.home-block-sup-row.row2 .sup-block3 img {
    width: 125px;
}

.sup-block {
    width: 25%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: min-content;
    flex: 1;
}

.home-block-fe {
    margin-top: 6em;
}

.home-block-fe-row {
    height: 50px;
    height: min-content;
    width: 500px;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 2em;
}

.home-block-fe-row.row3 {
    display: flex;
    justify-content: space-between;
}

.home-block-fe-row.row3 img {
    width: 45vw;
    height: 45vw;
    margin-right: 100px;
    margin-top: -300px;
    transform: scaleX(-1);
}

.home-block-fe-row.row1 {
    width: 35%;
}